.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0a0a0a;
}

.background1 {
  width: 100vw;
  background-image: url("../assets/imgs/background1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.background2 {
  margin: 20px 0px;
  width: 1840px;
  padding: 20px;
  background-color: #5271ff;
  border-radius: 22px;
}
