.nav {
  display: flex;
  position: relative;
  top: 0;
  width: 100vw;
  justify-content: space-between;
  padding: 10px 0px;
  align-items: center;
  background-color: transparent;
  z-index: 1000000;
  transition: top 0.3s;
}

.nav.hidden {
  top: -120px;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 100px;
}

.nav li {
  font-size: 23px;
  color: #ffffff;
  transition: 0.2s;
}

.nav li:hover {
  transform: scale(1.1);
  color: #5271ff;
  cursor: pointer;
}

.logo {
  margin-left: 20px;
}

.logo img {
  width: 250px;
}

.button {
  margin-right: 20px;
}

.button button {
  display: flex;
  font-size: 28px;
  background-color: transparent;
  border: 0px;
  color: #ffffff;
  align-items: center;
  gap: 5px;
  transition: 0.2s;
}

.button button:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.button button img {
  width: 28px;
}

.hamburger {
  display: none;
  color: #ffffff;
}

.hamburger img {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.dropdown {
  display: none;
  width: 100%;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dropdown ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  padding: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  gap: 0px;
}

.dropdown li {
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.dropdown.open {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.dropdown.open li:active {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}

@media (max-width: 1830px) {
  .nav {
    padding: 10px 0px;
  }

  .nav ul {
    gap: 95px;
  }

  .nav li {
    font-size: 22px;
  }

  .logo {
    margin-left: 19px;
  }

  .logo img {
    width: 237px;
  }

  .button {
    margin-right: 19px;
  }

  .button button {
    font-size: 27px;
    gap: 5px;
  }

  .button button img {
    width: 27px;
  }
}

@media (max-width: 1730px) {
  .nav {
    padding: 9px 0px;
  }

  .nav ul {
    gap: 90px;
  }

  .nav li {
    font-size: 21px;
  }

  .logo {
    margin-left: 18px;
  }

  .logo img {
    width: 226px;
  }

  .button {
    margin-right: 18px;
  }

  .button button {
    font-size: 25px;
    gap: 5px;
  }

  .button button img {
    width: 25px;
  }
}

@media (max-width: 1650px) {
  .nav {
    padding: 9px 0px;
  }

  .nav ul {
    gap: 86px;
  }

  .nav li {
    font-size: 20px;
  }

  .logo {
    margin-left: 17px;
  }

  .logo img {
    width: 214px;
  }

  .button {
    margin-right: 18px;
  }

  .button button {
    font-size: 24px;
    gap: 4px;
  }

  .button button img {
    width: 24px;
  }
}

@media (max-width: 1530px) {
  .nav {
    padding: 8px 0px;
  }

  .nav ul {
    gap: 80px;
  }

  .nav li {
    font-size: 18px;
  }

  .logo {
    margin-left: 16px;
  }

  .logo img {
    width: 199px;
  }

  .button {
    margin-right: 16px;
  }

  .button button {
    font-size: 22px;
    gap: 4px;
  }

  .button button img {
    width: 22px;
  }
}

@media (max-width: 1430px) {
  .nav {
    padding: 7px 0px;
  }

  .nav ul {
    gap: 74px;
  }

  .nav li {
    font-size: 17px;
  }

  .logo {
    margin-left: 15px;
  }

  .logo img {
    width: 185px;
  }

  .button {
    margin-right: 15px;
  }

  .button button {
    font-size: 21px;
    gap: 4px;
  }

  .button button img {
    width: 21px;
  }
}

@media (max-width: 1330px) {
  .nav {
    padding: 7px 0px;
  }

  .nav ul {
    gap: 69px;
  }

  .nav li {
    font-size: 16px;
  }

  .logo {
    margin-left: 14px;
  }

  .logo img {
    width: 172px;
  }

  .button {
    margin-right: 14px;
  }

  .button button {
    font-size: 19px;
    gap: 3px;
  }

  .button button img {
    width: 19px;
  }
}

@media (max-width: 1230px) {
  .nav {
    padding: 6px 0px;
  }

  .nav ul {
    gap: 64px;
  }

  .nav li {
    font-size: 15px;
  }

  .logo {
    margin-left: 13px;
  }

  .logo img {
    width: 160px;
  }

  .button {
    margin-right: 13px;
  }

  .button button {
    font-size: 18px;
    gap: 3px;
  }

  .button button img {
    width: 18px;
  }
}

@media (max-width: 900px) {
  .menu,
  .button {
    display: none;
  }
  .hamburger {
    display: block;
  }

  .hamburger img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
  }

  .dropdown {
    display: none;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  .dropdown ul {
    margin: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    gap: 0px;
  }

  .dropdown li {
    text-align: center;
    padding: 20px 0;
    width: 100%;
    text-transform: uppercase;
  }

  .dropdown.open {
    display: block;
    opacity: 1;
    transform: translateY(0);
  }

  .dropdown.open li:active {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
  }

  .dropdown .button {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .dropdown .button button {
    padding: 20px 20px;
  }
}
