.section {
  display: flex;
  width: 100vw;
  height: auto;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  background-color: #060606;
}

.container {
  width: 1920px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.divTitle {
  width: 95%;
  border-left: 6px solid #ffffff;
}

.title {
  font-size: 45px;
  color: #5271ff;
  margin: 0;
  padding-left: 20px;
}

.divCards {
  background-color: #ffffff;
  color: #003070;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 100px;
  padding: 50px 50px;
  border-radius: 22px;
}

.card {
  width: 357px;
  height: auto;
}

.card div {
  width: 115px;
  margin-bottom: -30px;
}

.card img {
  width: 115px;
  animation-name: ani-float;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes ani-float {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 5px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.card h2 {
  font-size: 37px;
  margin: 0;
}

.card p {
  font-size: 30px;
  margin: 0;
}

@media (max-width: 1830px) {
  :root {
    --factor: 0.95;
  }

  .section {
    padding: calc(50px * var(--factor)) 0px;
  }

  .container {
    width: 1830px;
    gap: calc(60px * var(--factor));
  }

  .divTitle {
    border-left: calc(6px * var(--factor)) solid #ffffff;
  }

  .title {
    font-size: calc(45px * var(--factor));
    padding-left: calc(20px * var(--factor));
  }

  .divCards {
    gap: calc(100px * var(--factor));
    padding: calc(50px * var(--factor)) calc(50px * var(--factor));
    border-radius: calc(22px * var(--factor));
  }

  .card {
    width: calc(357px * var(--factor));
  }

  .card div {
    width: calc(115px * var(--factor));
    margin-bottom: calc(-30px * var(--factor));
  }

  .card img {
    width: calc(115px * var(--factor));
  }

  .card h2 {
    font-size: calc(37px * var(--factor));
  }

  .card p {
    font-size: calc(30px * var(--factor));
  }
}

@media (max-width: 1776px) {
  :root {
    --factor: 0.925;
  }

  .container {
    width: 1776px;
  }
}

@media (max-width: 1730px) {
  :root {
    --factor: 0.9;
  }

  .container {
    width: 1730px;
  }
}

@media (max-width: 1680px) {
  :root {
    --factor: 0.875;
  }

  .container {
    width: 1680px;
  }
}

@media (max-width: 1630px) {
  :root {
    --factor: 0.85;
  }

  .container {
    width: 1630px;
  }
}

@media (max-width: 1584px) {
  :root {
    --factor: 0.825;
  }

  .container {
    width: 1584px;
  }
}

@media (max-width: 1530px) {
  :root {
    --factor: 0.8;
  }

  .container {
    width: 1530px;
  }
}

@media (max-width: 1490px) {
  :root {
    --factor: 0.775;
  }

  .container {
    width: 1490px;
  }
}

@media (max-width: 1440px) {
  :root {
    --factor: 0.75;
  }

  .container {
    width: 1440px;
  }
}

@media (max-width: 1392px) {
  :root {
    --factor: 0.725;
  }

  .container {
    width: 1392px;
  }
}

@media (max-width: 1350px) {
  :root {
    --factor: 0.7;
  }

  .container {
    width: 1350px;
  }
}

@media (max-width: 1296px) {
  :root {
    --factor: 0.675;
  }

  .container {
    width: 1296px;
  }
}

@media (max-width: 1250px) {
  :root {
    --factor: 0.65;
  }

  .container {
    width: 1250px;
  }
}

@media (max-width: 1200px) {
  :root {
    --factor: 0.625;
  }

  .container {
    width: 1200px;
  }
}

@media (max-width: 1150px) {
  :root {
    --factor: 0.6;
  }

  .container {
    width: 1150px;
  }
}

@media (max-width: 1105px) {
  :root {
    --factor: 0.575;
  }

  .container {
    width: 1105px;
  }
}

@media (max-width: 1056px) {
  :root {
    --factor: 0.55;
  }

  .container {
    width: 1056px;
  }
}

@media (max-width: 1000px) {
  .divCards {
    width: 600px;
    flex-wrap: wrap;
  }
}

@media (max-width: 660px) {
  .divCards {
    width: 250px;
    flex-wrap: wrap;
  }
}
