.section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 380px;
  width: 100vw;
  background-color: #060606;
  color: #ffffff;
}

.container {
  width: 1920px;
  display: flex;
  align-items: center;
}

.logo {
  flex: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo img {
  width: 320px;
}

.dataDiv {
  flex: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 40px;
}

.dataDiv span,
.dataDiv p {
  margin: 0;
  font-size: 40px;
}

.dataDiv span {
  color: #9cafc7;
}

.dataDiv a {
  text-decoration: none;
  color: white;
}

.dataDiv a:hover {
  color: #5271ff;
}

@media (max-width: 1830px) {
  :root {
    --factor: 0.95;
  }

  .section {
    height: calc(380px * var(--factor));
  }

  .container {
    width: calc(1920px * var(--factor));
  }

  .logo img {
    width: calc(320px * var(--factor));
  }

  .dataDiv {
    font-size: calc(40px * var(--factor));
  }

  .dataDiv span,
  .dataDiv p {
    font-size: calc(40px * var(--factor));
  }
}

@media (max-width: 1776px) {
  :root {
    --factor: 0.925;
  }

  .container {
    width: 1776px;
  }
}

@media (max-width: 1730px) {
  :root {
    --factor: 0.9;
  }

  .container {
    width: 1730px;
  }
}

@media (max-width: 1680px) {
  :root {
    --factor: 0.875;
  }

  .container {
    width: 1680px;
  }
}

@media (max-width: 1630px) {
  :root {
    --factor: 0.85;
  }

  .container {
    width: 1630px;
  }
}

@media (max-width: 1584px) {
  :root {
    --factor: 0.825;
  }

  .container {
    width: 1584px;
  }
}

@media (max-width: 1530px) {
  :root {
    --factor: 0.8;
  }

  .container {
    width: 1530px;
  }
}

@media (max-width: 1490px) {
  :root {
    --factor: 0.775;
  }

  .container {
    width: 1490px;
  }
}

@media (max-width: 1440px) {
  :root {
    --factor: 0.75;
  }

  .container {
    width: 1440px;
  }
}

@media (max-width: 1392px) {
  :root {
    --factor: 0.725;
  }

  .container {
    width: 1392px;
  }
}

@media (max-width: 1350px) {
  :root {
    --factor: 0.7;
  }

  .container {
    width: 1350px;
  }
}

@media (max-width: 1296px) {
  :root {
    --factor: 0.675;
  }

  .container {
    width: 1296px;
  }
}

@media (max-width: 1250px) {
  :root {
    --factor: 0.65;
  }

  .container {
    width: 1250px;
  }
}

@media (max-width: 1200px) {
  :root {
    --factor: 0.625;
  }

  .container {
    width: 1200px;
  }
}

@media (max-width: 1150px) {
  :root {
    --factor: 0.6;
  }

  .container {
    width: 1150px;
  }
}

@media (max-width: 1105px) {
  :root {
    --factor: 0.575;
  }

  .container {
    width: 1105px;
  }
}

@media (max-width: 1056px) {
  :root {
    --factor: 0.55;
  }

  .container {
    width: 1056px;
  }
}

@media (max-width: 750px) {
  .section {
    height: auto;
  }

  .container {
    flex-direction: column;
    width: 95%;
  }

  .dataDiv {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .logo img {
    width: calc(320px * 0.45);
  }

  .dataDiv {
    font-size: calc(40px * 0.45);
  }

  .dataDiv span,
  .dataDiv p {
    font-size: calc(40px * 0.45);
  }
}
