.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 115px;
  background-color: #060606;
}

.container {
  width: 1920px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  width: 750px;
}

.title p {
  color: white;
  font-size: 35px;
  margin: 0;
}

.button button {
  width: 700px;
  height: 75px;
  font-size: 45px;
  font-weight: 600;
  color: #ffffff;
  background-color: #5271ff;
  border: 0;
  border-radius: 22px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: 0.2s;
}

.button button:hover {
  transform: scale(1.1);
}

.button img {
  width: 60px;
}

@media (max-width: 1830px) {
  :root {
    --factor: 0.95;
  }

  .section {
    height: calc(115px * var(--factor));
  }

  .container {
    width: 1830px;
  }

  .title {
    width: calc(750px * var(--factor));
  }

  .title p {
    font-size: calc(35px * var(--factor));
  }

  .button button {
    width: calc(700px * var(--factor));
    height: calc(75px * var(--factor));
    font-size: calc(45px * var(--factor));
    border-radius: calc(22px * var(--factor));
  }

  .button img {
    width: calc(60px * var(--factor));
  }
}

@media (max-width: 1776px) {
  :root {
    --factor: 0.925;
  }

  .container {
    width: 1776px;
  }
}

@media (max-width: 1730px) {
  :root {
    --factor: 0.9;
  }

  .container {
    width: 1730px;
  }
}

@media (max-width: 1680px) {
  :root {
    --factor: 0.875;
  }

  .container {
    width: 1680px;
  }
}

@media (max-width: 1630px) {
  :root {
    --factor: 0.85;
  }

  .container {
    width: 1630px;
  }
}

@media (max-width: 1584px) {
  :root {
    --factor: 0.825;
  }

  .container {
    width: 1584px;
  }
}

@media (max-width: 1530px) {
  :root {
    --factor: 0.8;
  }

  .container {
    width: 1530px;
  }
}

@media (max-width: 1490px) {
  :root {
    --factor: 0.775;
  }

  .container {
    width: 1490px;
  }
}

@media (max-width: 1440px) {
  :root {
    --factor: 0.75;
  }

  .container {
    width: 1440px;
  }
}

@media (max-width: 1392px) {
  :root {
    --factor: 0.725;
  }

  .container {
    width: 1392px;
  }
}

@media (max-width: 1350px) {
  :root {
    --factor: 0.7;
  }

  .container {
    width: 1350px;
  }
}

@media (max-width: 1296px) {
  :root {
    --factor: 0.675;
  }

  .container {
    width: 1296px;
  }
}

@media (max-width: 1250px) {
  :root {
    --factor: 0.65;
  }

  .container {
    width: 1250px;
  }
}

@media (max-width: 1200px) {
  :root {
    --factor: 0.625;
  }

  .container {
    width: 1200px;
  }
}

@media (max-width: 1150px) {
  :root {
    --factor: 0.6;
  }

  .container {
    width: 1150px;
  }
}

@media (max-width: 1105px) {
  :root {
    --factor: 0.575;
  }

  .container {
    width: 1105px;
  }
}

@media (max-width: 1056px) {
  :root {
    --factor: 0.55;
  }

  .container {
    width: 1056px;
  }
}

@media (max-width: 850px) {
  .section {
    height: auto;
    padding: 20px 0px;
  }

  .container {
    width: 95%;
    flex-wrap: wrap;
    gap: 20px;
  }
}

@media (max-width: 430px) {
  .title {
    width: calc(750px * 0.45);
  }

  .title p {
    font-size: calc(35px * 0.45);
  }

  .button button {
    width: calc(700px * 0.45);
    height: calc(75px * 0.45);
    font-size: calc(45px * 0.45);
    border-radius: calc(22px * 0.45);
  }

  .button img {
    width: calc(60px * 0.45);
  }
}

@media (max-width: 320px) {
  .button button {
    width: calc(700px * 0.35);
    height: calc(75px * 0.35);
    font-size: calc(45px * 0.35);
    border-radius: calc(22px * 0.35);
  }

  .button img {
    width: calc(60px * 0.35);
  }
}
